.step2 {
    padding: 1.5rem 3rem;

    &-wrapper {
        &:last-child {
            margin: 3rem 0;
        }
        &-flex {
            max-width: 90%;
            display: flex;
            @media (max-width: 1020px) {
                display: block;
                margin: 0 auto;
            }
        }

        &-field {
            @media (max-width: 1020px) {
                width: 100%;
            }
            width: 35%;

            &:first-of-type {
                margin-right: 2rem;
            }
        }
    }
}