.step2 {
    padding: 1.5rem 3rem;

    &-wrapper {
        &:last-child {
            margin: 3rem 0;
        }
        &-flex {
            max-width: 90%;
            display: flex;
        }

        &-field {
            width: 35%;

            &:first-of-type {
                margin-right: 2rem;
            }
        }
    }
}